<!DOCTYPE html>
<html>
<head>
    <title>Story 9 PPW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="main_navbar">
        {% if user.is_authenticated %}
        <a class="navbar-brand text-black-50 order-md-1 justify-content-end">Selamat datang,
            {% if user.first_name or user.last_name %} 
                {{user.first_name}} {{user.last_name}}
            {% else %}
                {{ user.username }}
            {% endif %}
        </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_col" aria-controls="navbar_col" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse w-100" id="navbar_col">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search_index' %}">Search Book</a>
                </li>
            </ul>
                {% if user.is_authenticated %}
                </div>
                <div class="collapse navbar-collapse order-last" id="navbar_col">
                    <a class="btn btn-danger mx-0 mx-lg-2" href="{% url 'logout' %}" id="logout-button">Logout</a>
                </div>

                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
                {% endif %}

    </nav>
</body>

{% block content %}
{% endblock content %}